.starred-checkbox input[type="checkbox"],
.starred-checkbox .checked {
    display: none;
    width: auto;
}
.starred-checkbox .unchecked {
    width: auto;
}
 
.starred-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.starred-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}