<div class="content" id="about-page">
  <h3 id="about-title">What is Simple Hashtag Manager?</h3>
  <a class="nav_button" href="https://github.com/hypnocill/hashtagmanager" target="_blank">
    <i class="fa fa-github"></i>
  </a>
  <div id="about-info">
    <p>This tool provides the following functionality:
      <ul>
        <li>Add hashtags, organized by favorite and categories</li>
        <li>Get a number of hashtags for a category (favorite hashtags are with priority with the random option)
          <br/>
        </li>
        <li>Copy those hashtags to clipboard for ease of use and edit them</li>
        <li>You can export all of your categories with hashtags as a JSON file and you can import them back</li>
      </ul>
    </p>
    <small><i><b>Simple Hashtag Manager uses your browser's LocalStorage to store your hashtags data which means that if you clear your browser's data
      you will lose all of your hashtags in this app!
      <br/>To be safe, make sure to use the 'export' button in the 'Home' page to export your data as a file that you can keep and later import
      in Simple Hashtag Manager.
    </b></i></small>

    <br/>
    <p>Contact me at ivodevmail@gmail.com </p>
  </div>
</div>