<div class="content" id="add-page">
  <h3 id="add-error-title" class="error-field">Input fields cannot be empty</h3>
  <input id="add-category" list="categories-list" placeholder="category"/>
  <datalist id="categories-list">
  </datalist>
  <br />
  <input id="add-hashtag" placeholder="hashtag"/>
  <br />
  <div>
    <label class="starred-checkbox">
      <input type="checkbox" id="add-starred" checked />
      <i class="fa fa-heart-o unchecked"></i>
      <i class="fa fa-heart checked"></i>
    </label>
  </div>
  <br />
  <button id="add-submit-button" ><i class="fa fa-paper-plane-o"></i></button>
</div>