<div class="content" id="home-page">
  <div id="main_icons_container" >
    <div id="action_copy_categories">
      <i class="home_main_icons fa fa-file-text"></i>
      <small>export</small>
    </div>
    <label for="home-file-input">
      <div id="action_import_categories">
        <input id="home-file-input" type="file" style="display: none;" accept="application/JSON">
          <i class="home_main_icons fa fa-upload"></i>
        <small>import</small>
      </div>
    </label>
  </div>
  <h2>I want</h2>
  <input id="home-hashtag-number-input" placeholder="15" type="number" min="1" max="100" value="15" />
  <h2>hashtags from</h2>
  <div id="home-category-list">
  </div>
</div>